.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}



/* Sidebar Styling */
.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
}

/* Base Menu Item Styling */
.menuItem {
  list-style: none;
  margin-bottom: 10px;
}

/* Button Styling */
.button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  text-align: left;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button a {
  text-decoration: none;
  color: inherit;
}

/* Active Parent Button */
.button.active {
  background-color: #0070f3;
  color: #fff;
}

/* Active Child Button */
.button.activeChild {
  background-color: #0070f3;
  color: #fff;
}

/* Submenu Styling */
.submenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
}

.submenuItem {
  margin-top: 5px;
}

/* Hover Effects */
.button:hover {
  background-color: #e0e0e0;
}
